<app-header></app-header>
<div class="container">
    <br />
    <br />
    <br />
    <div>
        Table,DI (Service),Pipes(date,currency) is made on this page
    </div>

    <br /><br /><br />
    <p-table [value]="customers">
        <ng-template pTemplate="header">
            <tr>
                <th *ngFor="let col of cols">
                    {{col.header}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
            <tr>

                <td>{{customer.id}}</td>
                <td>{{customer.name}}</td>
                <td>{{customer.acnum}}</td>
                <td>{{customer.Date | date}}</td>
                <td>{{customer.Balance | currency : 'CAD' : 'symbol':'4.2-2'}}</td>


            </tr>
        </ng-template>
    </p-table>
</div>