<h1 style="text-align:center">
    Welcome to ABC BANK
</h1>
<div class="container">
    <br />
    //ID AND PWD VALIDATION ADDED
    <br />
    //ROUTING ENABLED FOR ALL PAGES
    <br />
    <br />
    <br />
    <form [formGroup]="loginForm" (ngSubmit)="login()">

        <div class="form-group">
            <label>Email ID</label>
            <p [ngClass]="{ 'has-error': isSubmitted && formControls.email.errors }">
                <input type="email" placeholder="Email" formControlName="email"> (admin@admin.com)
            </p>
            <div *ngIf="isSubmitted && formControls.email.errors" class="help-block">
                <div *ngIf="formControls.email.errors.required">Email is required</div>
                <div *ngIf="formControls.email.errors.email">Not a valid email id</div>
            </div>
        </div>
        <div class="form-group">
            <label>Password</label>
            <p [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
                <input type="password" placeholder="Password" formControlName="password"> (123456)
            </p>

            <div *ngIf="isSubmitted && formControls.password.errors" class="help-block">
                <div *ngIf="formControls.password.errors.required">Password is required</div>
                <div *ngIf="formControls.password.errors.minlength">length shpuld be atleast 6 letters</div>
            </div>

        </div>
        <br /><br /><br />
        <button type="submit">Submit</button>
        <button type="button" (click)="signup()">Signup</button>
        {{message}}
    </form>
    <br />
    <div [hidden]="!submitted">
        <h3> Employee Details </h3>
        <p>Email Id: {{ loginForm.get('email').value }} </p>
        <p> Password: {{ loginForm.get('password').value }} </p>
    </div>
</div>